<h1>{{nbRecette}} Recettes</h1>

<app-sidebar-mobile (alimentsIdChange)="alimentsIdChange($event)" (categoriesSelectedChange)="categoriesSelectedChange($event)" (seulementLesAlimentsChange)="seulementLesAlimentsChange($event)" [(categoriesSelected)]="categoriesSelected" [(alimentsId)]="alimentsId" [loggedIn]="loggedIn" class="d-ms-block d-md-none"></app-sidebar-mobile>
<app-sidebar-desktop (alimentsIdChange)="alimentsIdChange($event)" (categoriesSelectedChange)="categoriesSelectedChange($event)" (seulementLesAlimentsChange)="seulementLesAlimentsChange($event)" [(categoriesSelected)]="categoriesSelected" [(alimentsId)]="alimentsId" [loggedIn]="loggedIn" class="d-none d-sm-none d-md-block"></app-sidebar-desktop>

<div class="container main-container-recette">
  <div class="row">

    <div class="col-md-11 col-sm-12 mx-auto">
      <app-spinner [isLoading]="isLoading"></app-spinner>
      <div *ngIf="(pages | async)?.content == 0">Pas de recette, il est temps de faire les courses</div>
      <div *ngFor="let recette of (pages | async)?.content" [ngClass]="row" >
        <div class="offset-md-1 col-md-10 blog">

          <article>
            <div class="row">
              <div class="col-md-2 col-sm-12 blog-style-2">
                <h4 class="title-categorie d-lg-inline-block">{{recette.categorie.nom}}</h4>
                <ul class="post-data">
                  <li>
                    <div *ngIf="recette.utilisateur.photo != null else pasDePhotoAuteur" class="float-left mr-3">
                      <img [src]="pathUpload+recette.utilisateur.photo.id+'-thumb.png'" alt="Photo de l'auteur" class="petiteThumb" />
                    </div>
                    <ng-template #pasDePhotoAuteur><div class="float-left mr-3">
                      <img [src]="pathUpload+'/default-utilisateur-thumb.png'" alt="Pas de photo" class="petiteThumb" /></div>
                    </ng-template>
                    <h6><fa name="user"></fa> {{recette.utilisateur.pseudo}}</h6><a href="#"></a>
                  </li>
                  <li>
                    <button *ngIf="recette.utilisateur.email == currentUserMailEditRecette || admin" routerLink="/recette/edit/{{recette.id}}"><fa-icon [icon]="faEdit"></fa-icon>&nbsp;<span class="d-none d-md-none d-lg-inline-block">edit.&nbsp;&nbsp;</span></button>
                    <button *ngIf="loggedIn" (click)="addDeleteFavori(recette)" [className]="recette.favori" ><fa-icon [icon]="faHeart"></fa-icon>&nbsp;<span class="d-none d-md-none d-lg-inline-block">favori</span></button>
                  </li>
                </ul>
              </div>
              <div class="col-md-10">
                <div routerLink="/recette/{{recette.id}}">
                  <div *ngIf="recette.photo != null else pasDePhotoRecette" class="float-left mr-3 mb-3">
                    <img [src]="pathUpload+recette.photo.id+'-thumb.png'" alt="Photo principale de la recette" />
                  </div>
                  <ng-template #pasDePhotoRecette><div class="float-left mr-3 mb-3">
                    <img [src]="pathUpload+'/default-thumb.png'" alt="Pas de photo" /></div>
                  </ng-template>
                  <h3 class="title-bg">
                    {{ recette.titre }}
                    <ng-container *ngIf="!recette.publier">
                        <span style="color: red;">(Brouillon)</span>
                    </ng-container>
                  </h3>
                </div>
                <div *ngFor="let ingredient of recette.ingredients" class="float-left p-0 ml-1 mb-1">
                  <app-modal-aliment-view [aliment]="ingredient.aliment"></app-modal-aliment-view>
                </div>
                <div class="clearfix"></div>
                <p [innerText]="recette.descriptif" routerLink="/recette/{{recette.id}}"></p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="col-12 mx-auto" align="center">
  <app-paginator [pages]="pages | async" (pageChange)="onPageChanged($event)"></app-paginator>
  <div>
    Recettes par pages&nbsp;
    <a href="javascript:void(0);" (click)="onPageSizeChanged('5')">5</a>,
    <a href="javascript:void(0);" (click)="onPageSizeChanged('10')">10</a>,
    <a href="javascript:void(0);" (click)="onPageSizeChanged('25')">25</a>,
    <a href="javascript:void(0);" (click)="onPageSizeChanged('50')">50</a>,
    <a href="javascript:void(0);" (click)="onPageSizeChanged('100')">100</a>
  </div>
</div>