<div class="container-scroller background-picture">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <form [formGroup]="formProfile">
      <div class="content-wrapper d-flex align-items-center auth login-full-bg">
        <div class="col-lg-5 mx-auto">
          <div class="auth-form-dark text-left p-5">
            <h2>Votre profil</h2>
            <h5 class="font-weight-light">Renseignements généraux</h5>

            <div class="form-group" [ngClass]="{'has-error': formErrors.pseudo}">
              <label for="pseudo">Pseudo</label>
              <input type="text" class="form-control" name="pseudo" id="pseudo" formControlName="pseudo" />
              <div *ngIf="formErrors.pseudo" class="help-block">{{formErrors.pseudo}}</div>
            </div>
            <!--<div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" class="form-control" name="nom" id="nom" />
            </div>
            <div class="form-group">
              <label for="prenom">Prénom</label>
              <input type="text" class="form-control" name="prenom" id="prenom" />
            </div>-->
            <div class="form-group" [ngClass]="{'has-error': formErrors.email}">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" formControlName="email" />
            </div>
            <!--<div class="form-group">
              <label for="password">Mot de passe</label>
              <input type="password" class="form-control" name="password" id="password" />
            </div>-->

          </div>
        </div>

        <div class="col-lg-5 mx-auto">
          <div class="auth-form-dark text-left p-5">
            <h5 class="font-weight-light">Un peu plus sur vous</h5>

            <div class="row">
              <div class=" mx-auto" width="40px">
                <label for="photo">Photo de profil</label>
                <div class="row">

                  <app-photo-upload [(photo)]="utilisateur.photo" [(photoThumbPath)]="photoThumbPath" [width]="190" [height]="250" [progress]="progress" (photoUpload)="photoChange($event)"></app-photo-upload>

                </div>
              </div>
              <!--
              <div class="col-lg-5 mx-auto">
                <div class="form-group">
                  <label for="birthday">Date de naissance</label>
                  <input type="Date" class="form-control" name="birthday" id="birthday" />
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="descriptif">Vous en quelques mots</label>
              <textarea rows="4" cols="50" class="form-control" name="descriptif" id="descriptif">{{utilisateur.descriptif}}</textarea>
            </div>-->
            </div>

          </div>
        </div>

      </div>
      <div class="mt-5 mb-3 text-center">
        <button class="btn btn-lg font-weight-medium" [ngClass]="!confirmExit ? 'btn-success' : 'btn-warning'" (click)="onSubmit(formProfile)">Modifier mon compte</button>
        &nbsp;
        <button class="btn btn-danger btn-lg font-weight-medium" (click)="delete()">Supprimer mon compte</button>
      </div>
    </form>
  </div>
</div>