<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Creation d'un aliment</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-scroller background-picture">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-center auth login-full-bg">
      
            <div class="col-12 mx-auto">
              <div class="auth-form-dark text-left p-5">
            
                <form name="form" (ngSubmit)="onSubmitFormAliment(formAliment); c()" #formAliment="ngForm" novalidate>
                  <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="nom" [(ngModel)]="aliment.nom" #nom="ngModel" required />
                    <div *ngIf="formAliment.submitted && !nom.valid" class="help-block">Un nom est requis !</div>
                    <i class="mdi mdi-account"></i>
                  </div>
                  <div class="form-group">
                    <label for="descriptif">Description</label>
                    <textarea rows="4" cols="50" class="form-control" name="descriptif" id="descriptif" [(ngModel)]="aliment.descriptif" #descriptif="ngModel" novalidate>{{aliment.descriptif}}</textarea>
                  </div>
                  <div class="form-group">
                    <label for="file">Image</label>
                    <div class="row">
                        
                      <div class="form-group">
                        <label for="file">Photo de l'aliment</label>
                        <div class="row">
                          <app-photo-upload [(photo)]="photo" [(photoThumbPath)]="photoThumbPath" [width]="200" [height]="200" [progress]="progress" (photoUpload)="photo=$event"></app-photo-upload>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-6 col-md-11 mx-auto">
                    <button class="btn btn-outline-dark">Enregistrer</button>
                  </div>
                </form>
                  
              </div>
            </div>
    </div>
  </div>
  </div>
</div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Fermer</button>
    </div>
  </ng-template>

  <a href="javascript:" (click)="open(content)"> Pas dans la liste</a>