<ng-template #content let-c="close">
    <div class="modal-header">
        <h4 class="modal-title">Ajouter un ingredient</h4>
        <button type="button" class="close" aria-label="Close" (click)="c()">
        <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formIngredient" (ngSubmit)="addIngredient(); c()">
            <div class="form-group">
                <label for="aliment">Aliment : </label>
                <div class="col-6 mx-auto d-inline-block">
                    <ng-select [(ngModel)]="ingredient.aliment" bindLabel="nom" placeholder="Séléctionner un aliment" [hideSelected]="true" formControlName="aliment" class="col-12">
                        <ng-option [value]="item.id" *ngFor="let item of (aliments)">
                            {{item.nom}}
                          </ng-option>
                    </ng-select>
                </div>
                <app-modal-aliment (alimentNew)="addAliment($event)" [aliments]="aliments"></app-modal-aliment>
                <div *ngIf="formIngredient.controls.aliment.errors">
                    <div *ngIf="formIngredient.controls.aliment.errors.required">Merci de renseigner un aliment</div>
                </div>

                <div class="row">
                    <div class="col-3 col-lg-6 form-group">
                        <label for="quantite">Quantite : </label>
                        <input type="number" class="form-control" name="quantite" id="quantite" formControlName="quantite" width="40px" [(ngModel)]="ingredient.quantite" />
                    </div>
                    <div class="col-3 col-lg-6 form-group">
                        <label for="unite"> Unite : </label>
                        <ng-select [(ngModel)]="ingredient.unite" [items]="unites$ | async" bindLabel="nom" placeholder="Séléctionner un aliment" [hideSelected]=true formControlName="unite" name="unite" class="col-12"></ng-select>
                    </div>
                </div>
                <div class="form-group">
                <label for="commentaire" class='control-label'>Commentaire</label>
                <input type="text" class="form-control" id="commentaire" formControlName="commentaire" [(ngModel)]="ingredient.commentaire" />
                </div>
            </div>
            <div class="col-6 col-md-11 mx-auto">
                <button class="btn btn-outline-dark">Enregistrer</button>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c()">Fermer</button>
    </div>

</ng-template>
<button class="btn btn-outline-dark mt-3 mb-3" (click)="open(content)">
    <span *ngIf="editIngredient else elseBlock">Modifier</span>
    <ng-template #elseBlock>Ajouter un ingredient</ng-template>
</button>