<div class="footer-container"><!-- Begin Footer -->
    <div class="container">
        <div class="row footer-row">
            <div class="col-lg-3 col-sm-6 footer-col">
                <h5>A propos</h5><br>
                <address>
                    <strong>SeB</strong><br>
                    64100 Bayonne<br>
                </address>
                <ul class="social-icons">
                    <!--<li><a href="https://www.facebook.com/sebaurel" class="social-icon facebook" target="blank"></a></li>-->
                    <li><a href="https://twitter.com/Sebaurel64" class="social-icon twitter" target="blank"></a></li>
                    <li><a href="https://www.linkedin.com/in/sébastien-aurel-8a29bb9a/" class="social-icon linkedin" target="blank"></a></li>
                    <!--<li><a href="#" class="social-icon rss"></a></li>
                    <li><a href="#" class="social-icon forrst"></a></li>-->
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 footer-col">
                <h5>Dernières recettes</h5>
                <ul>
                    <li *ngFor="let recette of lastRecette$ | async">
                        <div *ngIf="recette.photo != null else elseBlock" class="float-start me-3 mb-3">
                            <img class="petiteThumb" [src]="pathUpload + recette.photo.id + '-thumb.png'" alt="Photo" />
                        </div>
                        <ng-template #elseBlock><div class="float-start me-3 mb-3">
                            <img class="petiteThumb" [src]="pathUpload+'/default-thumb.png'" alt="Pas de photo" /></div>
                        </ng-template>
                        <a routerLink="/recette/{{recette.id}}">{{recette.titre}}</a><br>
                        {{recette.descriptif | slice:0:40}}<a routerLink="/recette/{{recette.id}}">...</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 footer-col">
                <h5>Derniers commentaires</h5>
                 <ul class="post-list">
                    <li *ngFor="let commentaire of lastCommentaire$ | async">
                        <a routerLink="/compte/{{commentaire.redacteur.id}}"><h6><span class="small">De</span> {{commentaire.redacteur.pseudo}}</h6></a>
                        {{commentaire.body | slice:0:30}}
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6 footer-col">
                <h5>Photos</h5>
                <ul class="img-feed">
                    <li *ngFor="let photo of (lastPhoto$ | async)">
                        <a [href]="pathUpload + photo.id + '.png'"><img class="petiteThumb" [src]="pathUpload + photo.id + '-thumb.png'" alt="Image"></a>
                    </li>
                </ul>
            </div><!---->
        </div>

        <!--<div class="row"> Begin Sub Footer
            <div class="col-12 footer-col footer-sub">
                <div class="row no-margin">
                    <div class="col-6"><span class="left">Copyright 2012 Piccolo Theme. All rights reserved.</span></div>
                    <div class="col-6">
                        <span class="right">
                        <a routerLink="/home">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Gallery</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Blog</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="#">Contact</a>
                        </span>
                    </div>
                </div>
            </div>
        </div> --><!-- End Sub Footer -->

    </div>
</div><!-- End Footer --> 