<!--<table>
    <thead><tr><td>
        
    </td></tr></thead>
    <tbody><tr><td>-->
     
        
<div class="titre">
            <span *ngIf="recette.photo" class="photo"><img [src]="pathUpload+'{{recette.photo.id}}'+'-thumb.png'" alt="Photo principale de la recette"/></span>&nbsp;{{recette.titre}}
        </div>    
<div class="content" border="1px solid green">
    <h5 class="title-bg">Ingredients</h5>
    <ul class="ingredients">
        <li *ngFor="let ingredient of recette.ingredients">
            {{ingredient.aliment.nom}} <span *ngIf="ingredient.quantite > 0">{{ingredient.quantite}}</span>
            <span *ngIf="ingredient.unite">&nbsp;{{ingredient.unite.nom}}</span>
            <span *ngIf="ingredient.quantite > 1">s</span> 
            <em *ngIf="ingredient.commentaire"> - {{ingredient.commentaire}}</em>
        </li>
    </ul>
    <h5 class="title-bg">Etapes</h5>
    <ul class="popular-posts">
        <li *ngFor="let etape of recette.etapes">
            <h6>{{etape.titre}}</h6>
            <em [innerText]="etape.descriptif"></em>
        </li>
    </ul>
</div>
<!--</td></tr></tbody>
    <tfoot><tr><td>
      <div class="footer-space" border="1px solid red">&nbsp;</div>
    </td></tr></tfoot>
  </table>

<div class="header">
    <div class="titre">
        <span *ngIf="recette.photo" class="photo"><img [src]="pathUpload+'{{recette.photo.id}}'+'-thumb.png'" alt="Photo principale de la recette"/></span>&nbsp;{{recette.titre}}
    </div>
</div>
<div class="footer">AWESOME FOOTER</div>-->