<section class="comments">
    <div class="col-5">
        <h4><span [innerText]="commentaires.length"></span>&nbsp;commentaires</h4>

        <app-modal-commentaire [commentaires]="commentaires" [commentaire]=null [idUtilisateur]="idUtilisateur" [idRecette]="idRecette" *ngIf="loggedIn"  [editCommentaire]="false"></app-modal-commentaire>

    </div>
    <ul>
        <li *ngFor="let commentaire of commentaires">
            <div *ngIf="admin">
                <app-modal-commentaire [commentaires]="commentaires" [commentaire]="commentaire" [idUtilisateur]="idUtilisateur" [idRecette]="idRecette" *ngIf="loggedIn"  [editCommentaire]="true"></app-modal-commentaire>
                <button class="btn btn-outline-dark font-weight-medium" (click)="spliceCommentaire(commentaire)" type="button">-</button>
            </div>
            <div *ngIf="(commentaire.redacteur.photo) else pasDePhoto" class="float-start">
                <img [src]="pathUpload + '{{commentaire.redacteur.photo.id}}' + '-thumb.png'" alt="Photo" class="petiteThumb"/>
            </div>
            <ng-template #pasDePhoto>
                <div class="float-start">
                    <img [src]="pathUpload+'/avatar.png'" alt="Pas de photo"  class="petiteThumb"/>
                </div>
            </ng-template>
            <span class="comment-name">{{commentaire.redacteur.pseudo}}&nbsp;</span>
            <span class="comment-date">{{commentaire.date | date :'medium'}}</span>
            <span class="comment-content">
                <h5>{{commentaire.title}}</h5>
                <p [innerText]="commentaire.body"></p>
                <div *ngFor="let photo of commentaire.photos" class="float-start p-0 ms-1 mb-1">
                    <a [href]="pathUpload + '{{photo.id}}' + '.png'"><img [src]="pathUpload + '{{photo.id}}' + '-thumb.png'" alt="Photo" class="petiteThumb"/></a>
                </div>
                <div class="clearfix">&nbsp;</div>
            </span>
        </li>
    </ul>
</section>