<div class="container main-container">
    <div class="row">
        <div class="col-sm-12 col-md-12 blog">
            <app-spinner [isLoading]="isLoading"></app-spinner>
            <h1 class="title-bg">
                {{article.title}}
            </h1>
            <section class="post-content">
                <div *ngIf="article.photo else elseBlock">
                    <img [src]="pathUpload+article.photo.id+'.png'" alt="Photo principale de l'article" width="100%"/>
                </div>
                <ng-template #elseBlock>
                    <img [src]="photoPath" alt="Pas de photo" width="100%"/>
                </ng-template>

                <quill-editor [(ngModel)]="article.body" [readOnly]="true" [modules]="quillModules" [style]="{border: '0px'}"></quill-editor>
                
                <div class="post-summary-footer">
                    <ul class="post-data">
                        <li><fa-icon [icon]="faCalendar"></fa-icon>&nbsp;{{article.date | date :'shortDate'}}&nbsp;&nbsp;</li>
                        <li><fa-icon [icon]="faUser"></fa-icon>&nbsp;{{article.redacteur.pseudo}}&nbsp;</li>
                        <!--<li><a href="#"><fa-icon [icon]="faComment"></fa-icon>&nbsp;{{commentaires.length}} Commentaire</a></li>-->
                    </ul>
                </div>
                <!--<app-commentaire [(commentaires)]="commentaires" [idRecette]="recette.id" [loggedIn]="loggedIn" [admin]="admin" ></app-commentaire>-->
            </section>
        </div>
    </div>
</div>
