<div class="container main-container">
    <div class="row">
        <div class="col-sm-12 col-md-12 blog">
            <app-spinner [isLoading]="isLoading"></app-spinner>
            <h1 class="title-bg">
                {{recette.titre}}
                <ng-container *ngIf="!recette.publier">
                    <span>(Brouillon)</span>
                </ng-container>
            </h1>
            <div class="btn-group">
                <button *ngIf="recette.utilisateur.email == currentUserEmail || admin" routerLink="/recette/edit/{{recette.id}}" class="btn"><fa-icon [icon]="faEdit"></fa-icon>&nbsp;edit</button>
                &nbsp;&nbsp;
                <button *ngIf="loggedIn" (click)="addDeleteFavori(recette)" class="btn"><fa-icon [icon]="faHeart" [ngClass]="recette.favori" style="color: rgb(190, 190, 190);"></fa-icon>&nbsp;favori</button>
                &nbsp;&nbsp;
                <button (click)="onPrint()" class="btn"><fa-icon [icon]="faPrint"></fa-icon>&nbsp;Imprimer</button>
            </div>
            <section class="post-content">
                <div *ngIf="recette.photo != null else elseBlock">
                    <img [src]="pathUpload + recette.photo.id.toString() + '.png'" alt="Photo principale de la recette" width="100%"/>
                </div>
                <ng-template #elseBlock>
                    <img [src]="photoPath" alt="Pas de photo" width="100%"/>
                </ng-template>

                <article class="post-body">
                    <p [innerText]="recette.descriptif"></p>
                    <h5 class="title-bg">Ingredients</h5>
                    <ul class="list">
                        <li *ngFor="let ingredient of recette.ingredients">
                            {{ingredient.aliment.nom}} <span *ngIf="ingredient.quantite > 0">{{ingredient.quantite}}</span>
                            <span *ngIf="ingredient.unite">&nbsp;{{ingredient.unite.nom}}</span>
                            <span *ngIf="ingredient.quantite > 1">s</span> 
                            <em *ngIf="ingredient.commentaire"> - {{ingredient.commentaire}}</em>
                        </li>
                    </ul>
                    <h5 class="title-bg">Etapes</h5>
                    <ul class="popular-posts">
                        <li *ngFor="let etape of recette.etapes">
                            <!--<a href="#">-->
                                <div *ngIf="etape.photo else noPhoto">
                                    <img [src]="pathUpload + etape.photo.id.toString() + '-thumb.png'" alt="Photo de l'etape"/>
                                </div>
                                <ng-template #noPhoto>
                                    <img [src]="photoPathThumb" alt="Pas de photo"/>
                                </ng-template>
                            <!--</a>-->
                            <h6>{{etape.position}} - {{etape.titre}}</h6>
                            <em [innerText]="etape.descriptif"></em>
                        </li>
                    </ul>
                </article>

                <div class="post-summary-footer">
                    <ul class="post-data">
                        <li><fa-icon [icon]="faCalendar"></fa-icon>&nbsp;{{recette.date | date :'shortDate'}}&nbsp;&nbsp;</li>
                        <li><!--<a href="#">--><fa-icon [icon]="faUser"></fa-icon>&nbsp;{{recette.utilisateur.pseudo}}&nbsp;<!--</a>--></li>
                        <!--<li><a href="#"><fa-icon [icon]="faComment"></fa-icon>&nbsp;{{commentaires.length}} Commentaire</a></li>-->
                    </ul>
                </div>
                <app-commentaire [commentaires]="commentaires" [idRecette]="recette.id" [loggedIn]="loggedIn" [admin]="admin" ></app-commentaire>
            </section>
        </div>
    </div>
</div>
