<button class="btn btn-outline-dark font-weight-medium btn-block" (click)="open(content)">Ouvrir mon frigo</button>
<ng-template #content let-c="close">
    <div class="modal-header">
      <h4 class="modal-title">Mon frigo</h4>
      <button type="button" class="close" aria-label="Close" (click)="c()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="container-scroller background-picture">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex auth login-full-bg">
            <div class="col-12 mx-auto align-items-center">
              <form [formGroup]="formAliments">
                <label for="alimentsSelecteur">Ajouter des aliments : </label>

                <ng-select [items]="aliments$ | async" [(ngModel)]="alimentsSelectedModal" formControlName="alimentsSelecteur" bindLabel="nom" placeholder="Commencer à écrire pour recherche" [multiple]="true" [hideSelected]="true" name="alimentsSelecteur" (change)="ModalFrigoChange()"> </ng-select> <!--(add)="addNewAlimentSelected($event)" (remove)="spliceAlimentSelected($event)"> </ng-select>-->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="modal-footer">
      <button *ngIf="loggedIn" class="btn btn-outline-dark" (click)="sauvegardeFrigo()" type="button">Sauvegarder</button>
      <button *ngIf="loggedIn" class="btn btn-outline-dark" (click)="recupereFrigo()" type="button">Recupérer</button>
      <button type="button" class="btn btn-outline-dark" (click)="c()">Chercher</button>
  </div>
</ng-template>
